
<div class="header">
  <a href="http://www.jumbo.com" class="logo">
  <img alt="jumbo logo" src="./assets/images/logo-jumbo.png">
  </a>
  <div class="header-right">
  </div>
</div>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>{{m.label}}</strong>
			<ul>
				<li>City: {{m.label}}</li>
				<li>Postal Code: {{m.label}}</li>
				<li>Today Open: {{m.label}}</li>
				<li>Today Close: {{m.label}}</li>
				<li>Location Type: {{m.label}}</li>
			</ul>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>

<h2>Click on your Location Please</h2>
